{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}

	<section id="hero">
		<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

			<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

			<div
				class="carousel-inner" role="listbox">

				<!-- Slide 1 -->
				<div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
					<div class="container">
						<h1>CIDIS</h1>
						<h3 style="color: black;">Centre D'imagerie Diagnostique et Interventionnelle De Soumbedioune</h3>
						<a href="#appointment" class="btn-get-started scrollto">Inscription</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="container center mt-5 mb-5 ms-20 me-20">
		<h1>Inscription Nouveaux Patient</h1>

		{{ form_start(registrationForm) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.naissance) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.adresse) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-success">M'INSCRIRE</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
